html {
  font-size: 16px;
  background-color: #bfbebe;
}

body{
  background-color: #bfbebe;
}

.flex {
  display: flex;
}

h2 {
  font-size: 3rem;
  color: #074a07;
  margin: 2rem;
}

p {
  font-size: 1.5rem;
  color: #074a07;
}


/* nav bar */

.nav {
  display: inline-flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  padding-top: .25rem;
  background-color: #bfbebe;
  border-bottom: 0.125rem solid black;
}

#local {
  justify-content:center ;
}

#local li {
  display: inline-flex;
  font-size: 1.25rem;
  padding: .5rem;
}

#social li {
  position: relative;
  left: 28rem;
  top: 1rem;
  padding: .25rem;
  display: inline-flex;
}

.icon {
  width: 1rem;
  border: none;
}

.logo {
  position: relative;
  right: 15rem;
  top: .175rem;
  border: none;
  margin-left: .5rem;
}

/* welcome banner */

.banner {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 5rem;
  background-image: url("../images/tubeman-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  width: 100%;
  height: 42rem;
  justify-content: center;
}

.welcome h1 {
  position: relative;
  top: 22rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #074a07;
  border: .125rem solid #074a07;
  background-color: #bfbebe;
  opacity: 75%;
  padding: .5rem;
  flex-shrink: 2;
}

/* mission */

.mission {
  margin-top: 12rem;
  margin-bottom: 3rem;
  text-align: center;
}

.mission p {
  margin: 1rem 5rem;
}



/* services */

.services {
  padding: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.services a {
  color: #074a07;
}


.services p {
  margin: 3rem;
  color: #074a07;
  padding-bottom: 2rem;
}

.event-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  width: auto;
  height: max-content;
  align-items: center;
  gap: 4.5rem;
  }

.events {
  border: 2px solid #074a07;
  background-color: #b0b0b0;
  border-radius: .5rem;
  padding: 1.5rem;
}

img {
  border: 2px solid #074a07;
}
.caption {
  padding: 1rem;
}

.caption h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #074a07;
  
}

/* team */

.team {
  padding: 5rem;
  text-align: center;
  margin-bottom: 4rem;
  justify-content: center;
}

.team-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  width: auto;
  height: max-content;
  align-items: center;
  gap: 4.5rem;
}

.bio {
  width: 25rem; 
  border: 2px solid #074a07;
  background-color: #b0b0b0;
  border-radius: .5rem;
  padding: 2rem;
}

.team-tokyo{
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}


/* footer */

footer {
  width: 100%;
  font-size: .5rem;
  background-color: #bfbebe;
  justify-content: start;
  align-items: center;
  z-index: 1;
}