html {
  font-size: 16px;
  background-color: #bfbebe;
}

body {
  background-color: #bfbebe;
}

.flex {
  display: flex;
}

h2 {
  font-family: "kalam";
  font-size: 3rem;
  color: #074a07;
  margin: 2rem;
}

h3 {
  font-size: 2.5rem;
  color: #074a07;
}

p {
  font-family: "caveat";
  font-size: 1.5rem;
  color: #074a07;
}


/* nav bar */

.nav {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  padding-top: 1rem;
  background-color: #bfbebe;
  border-bottom: 0.125rem solid black;
  justify-content: space-around;
  align-content: center;

}


#local li {
  display: inline-flex;
  font-size: 1.5rem;
  padding: .5rem;
}


#social li {
  padding: .25rem;
  display: inline-flex;
}

.icon {
  width: 1rem;
  border: none;
}

.logo {
  top: .175rem;
  border: none;

}

/* welcome banner */

.banner {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 5rem;
  background-image: url("../images/tubeman-banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.welcome {
  width: 100%;
  height: 42rem;
  justify-content: center;
}

.welcome h1 {
  position: relative;
  top: 25rem;
  font-family: "kalam";
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #074a07;
  border: .125rem solid #074a07;
  background-color: #bfbebe;
  opacity: 75%;
  padding: .5rem;
  flex-shrink: 2;
}

/* mission */

.mission {
  margin-top: 12rem;
  margin-bottom: 5rem;
  text-align: center;
}

.mission p {
  margin: 1rem 5rem;
}

.gif {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

/* services */

.services {
  padding: 12rem;
  text-align: center;
  margin-bottom: 4rem;
}

.services a {
  color: #074a07;
}


.services p {
  margin: 3rem;
  color: #074a07;
  padding-bottom: 2rem;
}

.event-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  width: auto;
  height: auto;
  align-items: center;
  gap: 4.5rem;
}

.events {
  border: 2px solid #074a07;
  background-color: #b0b0b0;
  border-radius: .5rem;
  padding: 1.5rem;
}

img {
  border: 2px solid #074a07;
}

.caption {
  padding: 1rem;
}

.caption h3 {
  font-family: "kalam";
  font-size: 2.5rem;
  font-weight: 700;
  color: #074a07;
}

/* team */

.team {
  padding: 5rem;
  text-align: center;
  margin-bottom: 4rem;
  justify-content: center;
}

.team-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  width: auto;
  height: max-content;
  align-items: center;
  gap: 4.5rem;
}

.bio {
  width: 25rem;
  border: 2px solid #074a07;
  background-color: #b0b0b0;
  border-radius: .5rem;
  padding: 2rem;
}

.bio p {
  font-weight: 600;
}

.team-tokyo {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

/* contact */

.contact {
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  justify-content: center;
}

#map-section {
  width: auto;
  height: 30rem;
  background-image: url("../images/walla-walla-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact ul {
  width: max-content;
  background-color: #b0b0b0;
  border: 2px solid #074a07;
  border-radius: .5rem;
}

.contact li {
  padding: 2rem;
  color: #074a07;
  font-family: caveat;
  font-size: 2rem;
}

.contact h3 {
  font-family: "kalam";
  padding-top: 10rem;
  color: #FFFFFF;
  opacity: 100%;
}

/* footer */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #bfbebe;

}


@media only screen and (max-width: 640px) {
  .icon {
    width: 2rem;
  }

  #social li {
    padding: 1rem;
  }

  .bio {
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 2rem;
  }

  #social li {
    padding: 1rem;
  }

  .bio {
    margin-left: auto;
    margin-right: auto;
  }

  #footer-index {
    margin-bottom: 0%;
  }
  .contact {
    padding-bottom: 26rem;
  }

  .mission {
    padding-bottom: 35rem;
  }

}

@media only screen and (max-width: 320px) {
  .icon {
    width: 2rem;
  }

  #social li {
    padding: 1rem;
  }

  .bio {
    margin-left: auto;
    margin-right: auto;
  }

  .contact {
    padding-bottom: 26rem;
  }

  .mission {
    padding-bottom: 35rem;
  }

}